/* Navbar.css */
.sd-navbar-contain {
  height: 60px;
  padding: 10px; /* Add padding for spacing */
  background-color: #0A1045; 
 
}


.sd-navbar-image {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  align-items: center;
 
}