/* sd-sidebar.css */
.sd-sidebar {
  background-color: #0A1045;
  
  width: 240px;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  transition: width 0.5s, min-width 0.5s; /* Adding transition properties */

}
.sd-sidebar-button-icond {
  width: 40px; /* Adjust the width of the icon */
  height: auto; /* Adjust the height of the icon */
  margin-right: 20px; /* Add spacing between icon and text */
}

.sd-sidebar-bottom-d{
  margin-top: 60px;
}

  .sd-sidebar:hover .sd-sidebar-text {
    font-size: large;
    
  }
  .sd-sidebar:hover .sd-sidebar-button {
    font-size: medium;
  }
  
  /* sd-sidebar Top */
  .sd-sidebar-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 55px;
  }
  
  .sd-sidebar-icon {
    /* Style your icon/image here */
    width: 50px;
    height: auto;
    margin-left: 0px;
    
  }
  
  .sd-sidebar-text {
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* sd-sidebar Middle (buttons) */
  .sd-sidebar-middle {
    margin-bottom: 40px; /* Add margin between middle and bottom sections */
    
  }
  
  .sd-sidebar-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-size: medium;
    color: aliceblue;
    
  }
  
  .sd-sidebar-button:hover{
    background-color: white;
    color: #333;
    transform: scale(1.05);
    font-weight: bold;
  }
  .sd-sidebar-button:active {
    background-color: white;
    color: #333;
    transform: scale(1.05);
    font-weight: bold;
  }
  
  
  
  /* Style the icon within the button */
  .sd-sidebar-button-icon {
    width: 30px; /* Adjust the width of the icon */
    height: auto; /* Adjust the height of the icon */
    margin-right: 10px; /* Add spacing between icon and text */
  }
  
  /* sd-sidebar Bottom (logout and account settings) */
  .sd-sidebar-bottom .sd-sidebar-button {
    width: 100%;
    margin: 5px 0;
  }



  
  /* Responsive sd-sidebar */
  @media (max-width: 880px) {
    .sd-sidebar {
      padding: 10px;
      width: 70px;
      min-width: 60px;
      color: aliceblue;
      transition: width 0.5s, min-width 0.5s; /* Adding transition properties */ 
    }
    .sd-sidebar:hover {
      width: 210px;
      min-width: 60px;
    }
  
    .sd-sidebar-middle .sd-sidebar-button,
    .sd-sidebar-bottom .sd-sidebar-button {
      margin: 5px 0;
      
    }

    .sd-sidebar-text {
      font-size: 0;
    }

    .sd-sidebar-button{
      font-size: 0;
    }
    .sd-sidebar-icon{
      width: 40px;
      margin-left: 4px;
    }
    
  }
  


