.footer-container {
  background-color: #0A1045;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2; /* Place it above the hero container */
}


.social-media-wrap {
  display: flex;
  height: 20px;
  width: 90%;
  max-width: 1000px;
  margin: auto ;
}


.website-rights {
  color: #fff;
  margin-bottom: 16px;
  font-size: 20px; /* Adjust the font size if needed */
  margin-left: auto; /* Add margin to separate from the logo */
  margin-top: 2%;
  
}



/* Footer.css */

.footer-logo {
  display: flex; /* Display items in a row */
  align-items: center; /* Vertically center items */
}

.footer-logo img {
  max-width: 25%;
  min-width: 150px;
  margin-right: 20px; /* Add some space between the image and text */
  margin : 1rem 1rem 1rem;
}

@media (max-width: 900px) {

.website-rights{
  margin-top: 2%;
  font-size: 20px;
}

}

@media (max-width: 440px) {

  .website-rights{
    margin-top: 4%;
    font-size: 15px;
  }

}

