body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.maindiv{
    width: 100%;
    min-height: 50vh;
    background-color: blueviolet;
    display: flex;
    padding: 10px;
}

.container{
    display: flex;
    
}