.content {
  flex: 1;
  background-color: #e2ecfc;
  /* background-image: url('../components/images/above-clouds-3840x2160-12391.jpg');
  background-size: cover;  */
  overflow: visible; /* Allow content to overflow the container */
  position: relative;
}
