/* Footer.css */
.td-footer {
    display: flex; /* Use flexbox to arrange elements horizontally */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center items vertically */
    padding: 10px;
    background-color: #0A1045;
    height: 30px;
  }
  
  /* Styling for the copyright text */
  .td-footer .td-copyright {
    font-size: 14px;
    color: #ffffff;
    margin-right: 10px; /* Add spacing between the texts */
  }
  
  /* Styling for the highlighted text */
  .td-footer .td-highlighted-text {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }
  