@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.sidebar li .button-icon{
  width: 30px;
  height: auto;
  margin-left: 10px;
  padding: 2px;
}

.sidebar.open li .button-icon-d{
  width: 40px;
  height: auto;
  margin-left: 8px;
  padding: 2px;
  
}
.sidebar li .button-icon-d{
  width: 40px;
  height: auto;
  margin-left: 5px;
  padding: 2px;
  
}

.name{
  cursor:default;
  color: white;
}
.ps{
  font-size: 5px;
  opacity: 0;
}

.tmain {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: auto;
}

/* .tpage {
    flex: 1; 
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%; 
    padding: 20px;
    overflow-x: hidden;
    transition: all 0.5s ease;
  } */

  .home-section{
    position: relative;
    background-color: var(--color-body);
    min-height: 100vh;
    top:0;
    left:35px;
    width: calc(100% - 60px);
    transition: all .5s ease;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin-top: 10px;
  }
  

  .sidebar.open ~ .home-section{
    left:110px;
    width: calc(100% - 200px);
    
  }


:root{
  --color-default:#000000;
  --color-second:#0067ac;
  --color-white:#ffffffbe;
  --color-body:#e4e9f7;
  --color-light:#e0e0e0;
  --color-text:#ffffff;
}


.sidebar {
  min-height: 100vh; /* Set the sidebar to at least the height of the viewport */
  width: 78px;
  padding: 6px 14px;
  z-index: 2;
  background-color: var(--color-default);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  

}

.sidebar.open {
  width: 220px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all 0.5s ease ;
}



.sidebar .logo_details .logo_name{
  color:var(--color-text);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
  font-family: 'Poppins', sans-serif;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}

.sidebar .nav-list{
  
  height: 100%;
  margin-left: -35px;
}

.sidebar lis{
  position: relative;
  margin:8px 0;
 
  height: 50px;
  
}

.sidebar lis img{
  height: auto;
  width: 35px;
  line-height: 35px;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 10px;
  transition: all .5s ease;
}
.sidebar.open lis img{
  height: auto;
  width: 60px;
  line-height: 50px;
  font-size: 18px;
  margin-right: 70px;
  margin-left: 70px;
  transition: all .5s ease;
}

.sidebar lis p{
  
  
  text-align: center;
  background-color: var(--color-default);
 
  transition: all .5s ease;
  opacity: 0;

}
.sidebar.open lis p{
  margin-top: 5px;
  transition: all .5s ease;
  z-index: 2;
  opacity: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}




.sidebar li{
  position: relative;
  margin:10px 0;
  list-style: none;
  height: 30px;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    color: #000000;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    cursor:default;
    transition: all 0.4s ease;
    font-family: 'Poppins', sans-serif;
  }
  
  .sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: 50%;
    transform: translateY(-50%);
  }


.sidebar.open li .tooltip{
  display: none;
}



.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 2;
  

}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.sidebar li a .link_name{
  color:var(--color-text);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  cursor:default;
  transition: all 0.4s ease;
  
  opacity: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  cursor:default;
}

.sidebar li img{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  margin-right: 10px;
}

/* 
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  
  padding:10px 14px;
  overflow: hidden;
  transition: all .5s ease;
  
}

.sidebar.open li.profile{
  width: 250px;
  margin-bottom: 20px;
  font-size: 15px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
  font-family: 'Poppins', sans-serif;
}

.sidebar li .user_image{
  height: auto;
  width: 40px;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.sidebar.open li .user_image{
  height: auto;
  width: 50px;
  object-fit: cover;
  margin-left: 2px;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.sidebar li.profile .name{
  font-size: 0px;
}



.sidebar.open li.profile .name,
.sidebar.open li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-text);
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
}

.sidebar li.profile .designation{
  font-size: 12px;
} */



.sidebar .logo_details .logo_image {
    width: 0;
    height: auto;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  /* Show the logo image when the sidebar is open */
  .sidebar.open .logo_details .logo_image {
    width: 150px;
    opacity: 1;
  }


  @media (max-width: 550px) {
    .sidebar.open{
      max-width: 200px;
    }
  } 