/* tsidebar.css */
.tsidebar {
  background-color: #0A1045;
  width: 240px;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  transition: width 0.5s, min-width 0.5s; /* Adding transition properties */

}
.tsidebar-button-icond {
  width: 40px; /* Adjust the width of the icon */
  height: auto; /* Adjust the height of the icon */
  margin-right: 20px; /* Add spacing between icon and text */
}

.tsidebar-bottom-d{
  margin-top: 60px;
}

  .tsidebar:hover .tsidebar-text {
    font-size: large;
  }
  .tsidebar:hover .tsidebar-button {
    font-size: medium;
  }
  
  /* tsidebar Top */
  .tsidebar-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 55px;
  }
  
  .tsidebar-icon {
    /* Style your icon/image here */
    width: 50px;
    height: auto;
    margin-left: 0px;
    
  }
  
  .tsidebar-text {
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
  }
  
  /* tsidebar Middle (buttons) */
  .tsidebar-middle {
    margin-bottom: 40px; /* Add margin between middle and bottom sections */
    
  }
  
  .tsidebar-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-size: medium;
    color: aliceblue;
    
  }
  
  .tsidebar-button:hover{
    background-color: white;
    color: #333;
    transform: scale(1.05);
    font-weight: bold;
  }
  .tsidebar-button:active {
    background-color: white;
    color: #333;
    transform: scale(1.05);
    font-weight: bold;
  }
  
  
  
  /* Style the icon within the button */
  .tsidebar-button-icon {
    width: 30px; /* Adjust the width of the icon */
    height: auto; /* Adjust the height of the icon */
    margin-right: 10px; /* Add spacing between icon and text */
  }
  
  /* tsidebar Bottom (logout and account settings) */
  .tsidebar-bottom .tsidebar-button {
    width: 100%;
    margin: 5px 0;
  }



  
  /* Responsive tsidebar */
  @media (max-width: 880px) {
    .tsidebar {
      padding: 10px;
      width: 50px;
      min-width: 40px;
      color: aliceblue;
      transition: width 0.5s, min-width 0.5s; /* Adding transition properties */ 
    }
    .tsidebar:hover {
      width: 170px;
      min-width: 40px;
    }
  
    .tsidebar-middle .tsidebar-button,
    .tsidebar-bottom .tsidebar-button {
      margin: 5px 0;
      
    }

    .tsidebar-text {
      font-size: 0;
    }

    .tsidebar-button{
      font-size: 0;
    }
    .tsidebar-icon{
      width: 40px;
      margin-left: 4px;
    }
    
  }
  


