.button_signin {
  margin-top: 20px;
  background-color: #8539d1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 180px;
  transition: all 0.3s ease-in-out;
  font-size: 1.4rem;
  height: 50px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4), inset -3px -3px 10px rgba(0, 0, 0, 0.4);
  letter-spacing: 3px;
}

.button_signin:hover {
  transform: scale(1.1); 
  background-color: #fc10f2; 
  color: white;
}


.errorMessage {
  color: #ea3943;
  margin: 20px 0;
 
  font-weight: bold;
}
