:root {
  --primary: #fff;
  
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
  
}

.btn--outline {
  background-color: transparent;
  color: var(--primary);
  padding: 14px 40px;
  border: 5px solid var(--primary);
  transition: all 0.3s ease-out;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 20px 30px;
  font-size: 30px;
  
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
  
}
