
/* bedfore */
.custom-carousel{
  z-index: 1;
}


/* Custom CSS for the buttons */
.custom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  
  /* Style for the buttons */
  .custom-buttons button {
    margin: 0 10px; 
    border-radius: 30px;
    
    width: 100px;
    
    transition: all 0.3s ease-in-out;
  }

  .custom-buttons button:hover {
    transform: scale(1.2);
    
  }


/* .card img{
    border-radius: 20px;
} */
.custom-catousel-card {
    overflow: hidden;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    
    margin-top: 20px;
    z-index: 1;
  }
  
.custom-carousel-card:hover {
  /* Add styles for when the card is being hovered */
  border:10px solid purple
  /* For example, yorgb(0, 0, 0)hange the background color */
 
}
  
  /* .card:hover {
    transform: scale(1.01); 
  } */


.custom-catousel-card img{
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    border-radius: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .card-title {
    /* background-color: rgb(11, 10, 14); */
    color: rgb(0, 0, 0) !important;
    display: inline-block; 
    padding: 10px;
    /* border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;  */
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 26px;
    font-family: 'Poppins';
    /* text-shadow: 4px 4px 6px rgba(128, 128, 128, 0.8); */
  }

  .card-text{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #000;
    font-size: 19px;
    margin-left: 5px;
    padding: 10px;
  }
  .iconclass{
    background-color: rgb(0, 0, 0);
   
   height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconclass i{
    color: #faf9f9;
    font-size: 80px;
  }

  .custom-icon {
   
   
    width: 100px;
    height: auto;
    box-shadow: 0px 0px 6px 6px rgba(151, 196, 255, 0.8);
  }

  @media screen and (max-width: 700px) {

    
  }
