html , body{
    
  margin: 0;
  padding: 0;
  
  
}


.img-rectangular {
    width: 100%;
    height: auto;
    border: none;
    align-items: center;
    justify-content: center;
  }

/* Title styles */
.ftitle {
  font-size: 40px;
  font-family: 'Raleway';
  font-weight: bold;
  /* text-shadow: 4px 4px 6px rgba(128, 128, 128, 0.7); */
  margin-bottom: 20px;
  letter-spacing: 2px;
}

/* Description styles */
.fdescription {
  font-size: 22px;
  font-family: 'Poppins', italics;
  font-style: italic;
  font-weight: normal;
  /* text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);  */
  word-spacing: 3px;
}


  @media (max-width: 700px) {
    .ftitle {
      font-size: 32px; 
      
    }
  
    .fdescription {
      font-size: 18px; 
    }
  }



  @media (max-width: 380px) {
    .ftitle {
      font-size: 2rem; 
      
    }
  
    .fdescription {
      font-size: 1rem; 
    }
  }

