

/* .hero-container {
  
  background: url('/public/images/above-clouds-3840x2160-12391.jpg') top/cover no-repeat; 
  
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 0;
  /* margin-top: -80px; */

 */

/* src/components/HeroSection.css */

/* src/components/HeroSection.css */

/* src/components/HeroSection.css */

.hero-container {
  display: flex;
  z-index: 1;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}

.hcontent {
  margin-top: 20px;
  margin-left: 60px;
  
  padding: 50px;
}

/* Default styles for the title */
.htitle {
  font-weight: bold;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  letter-spacing: 2px;
  text-shadow: 4px 4px 6px rgba(128, 128, 128, 0.8);
  margin-bottom: 50px;
}


.hdescription {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.hjoin-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Apply transition to all properties */
  font-family: 'Raleway', sans-serif;
  width: 200px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.hsign-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px black;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Apply transition to all properties */
  font-family: 'Raleway', sans-serif;
  width: 200px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.hsign-button:hover {
  transform: scale(1.1);
  background-color: rgb(0, 0, 0);
  color: azure;
}

.hjoin-button:hover {
  transform: scale(1.1);
  background-color: blue;
}


.himage-container {
  display: flex;
  width: 100%;
  border-radius: 30px;
  margin-top: 50px;
  
  height: 600px;

}

.himage-container img {
  width: 100%; /* Ensure the image doesn't exceed the container width */
  height: auto;
  border-radius: 30px;
}


/* Responsive styles for screens with a maximum width of 700px */
@media screen and (max-width: 700px) {
  .htitle {
    font-size: 48px; /* Adjust font size for screens up to 700px */
  }
  .hdescription {
    font-size: 18px; /* Adjust font size for screens up to 700px */
  }
  .hjoin-button {
    font-size: 18px; /* Adjust font size for screens up to 700px */
   
  }
  .hcontent {
    
    margin-left: 20px;
    
  }
}

/* Responsive styles for screens with a maximum width of 500px */
@media screen and (max-width: 500px) {
  .htitle {
    font-size: 40px; /* Adjust font size for screens up to 500px */
  }
  .hdescription {
    font-size: 16px; /* Adjust font size for screens up to 500px */
  }
  .hjoin-button {
    font-size: 16px; /* Adjust font size for screens up to 500px */
    margin-left: 0px;
  }
  .hcontent {
    margin-left: 0px;
    
    
  }
}



.custom-card{
  border-radius: 20px;
  border: 2px #007bff;
  
  margin-top: -80px;
}


.custom-title {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
  /* text-transform: uppercase; */
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.custom-form-group {
  width: 250px;
  padding: 10px;
}

.custom-button {
  margin-top: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.2s; 
}

.custom-button:hover {
  background-color: #000; 
}




















/* {
.hero-container > h1 {
  letter-spacing: 5px;
  color: #fff;
  font-size: 100px;
  margin-top: 0px;
  animation: glowingText 2s ease-in-out infinite; 
}*/




/* .hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Orbitron', Arial, sans-serif;
}

.hero-btns {
  margin-top: 30px;
}

.hero-btns .btn {
  margin: 10px;
}

.fa-play-circle {
  margin-left: 4px;
} */

/* @media screen and (max-width: 900px) {
  .hero-container > h1 {
    font-size: 60px;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-container > p{
    font-size: 28px;
    margin-top: 50px;
  }
  .hero-btns {
    margin-top: 50px;
  }
} */
/* 
@media screen and (max-width: 420px) {
  .hero-container > h1 {
    
    font-size: 40px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-container > p {
    font-size: 20px;
   
  }

  .hero-btns {
    margin-top: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
} */

/*
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

*/









