.custom-card {
    border-radius: 20px;
    background: linear-gradient(to bottom , #c9bdfc , #eee3ff);
    margin-top: -40px;
  }
  
  
  .custom-title {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .custom-form-group {
    width: 250px;
    padding: 10px;
  }

  
.custom-button {
    margin-top: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .custom-button:hover {
    transform: scale(1.1); 
    background-color: rgb(0, 255, 0); 
    color: #000000;
  }