
.custom-scard {
    transition: transform 0.2s, border 0.2s;
    border: 5px solid transparent;
  }
  
  .custom-scard:hover {
    transform: scale(1.05);
    border: 5px solid black;
  }

  @media (max-width: 760px) {
   
    .custom-scard:hover {
        transform: scale(1.02);
        border: 5px solid black;
      }
  }


  @media (max-width: 550px) {
    .custom-scard {
      
      border: 5px solid black;
    }
}