/* General styles */
body {
  margin: 0;
  
}

.td-app {
  display: block;
  flex-direction: column;
  min-height: 100vh;
}

.td-content-container {
  display: flex;
  background-color: aqua;
  margin: 0;
  
  /* background-color: transparent;  */
}


